<app-navbar></app-navbar>
<button class="btn m-2 d-inline-block" [class.btn-primary]="totalPrice == 0" [class.btn-outline-primary]="totalPrice > 0"
  [routerLink]="['/home']">←</button>
<div *ngIf="totalPrice >= 0" class="alert  alert-success text-center mx-auto">Total: ${{totalPrice.toFixed(2)}}
</div>
<table class="table table-striped mx-auto mt-0" id="cart-table">
  <thead>
    <tr>
      <th></th>
      <th scope="col" style="width: 10%;">Quantity</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody id="cart-table-body">
    <tr *ngFor="let product of products;">
      <td style="width: auto;">
        <button class="btn btn-warning" (click)="updateCart(product.product, product.quantity)">Update Item</button>
      </td>
      <td class="pl-3">
        <div class="d-flex">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="product.quantity" min="0" max="50">
        </div>
      </td>
      <td class="pl-3">{{product.product.productName}}</td>
      <td>${{product.product.productPrice}}</td>
      <td class="text-muted">{{product.product.productDescription}}</td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center mb-3">
  <button class="btn btn-sm btn-outline-danger" [disabled]="totalPrice == 0" (click)="emptyCart()">Empty Cart</button>
  <button class="btn btn-primary" [routerLink]="['/home']">Add More Items</button>
  <button class="btn btn-success" [routerLink]="['/checkout']" [disabled]="cartProducts.length == 0">Go to Checkout</button>
</div>
