<button type="submit" class="btn btn-sm btn-secondary mt-1 mx-3" [routerLink]="['/login']">
  ← Back to Login
</button>
<div class="mx-auto">
  <img src="../../../assets/images/rev-logo.png" alt="Revature logo" />
</div>
<form id="register-form" [formGroup]="registerForm" #registerFormElement="ngForm">
  <div class="form-group">
    <label for="inputFirstName">First Name</label>
    <input type="text" class="form-control" formControlName="fname" id="inputFirstName" placeholder="Enter First Name">
  </div>
  <div class="form-group">
    <label for="inputLastName">Last Name</label>
    <input type="text" class="form-control" formControlName="lname" id="inputLastName" placeholder="Enter Last Name">
  </div>
  <div class="form-group">
    <label for="register-email">Email address</label>
    <input type="email" class="form-control" formControlName="email" id="register-email" aria-describedby="emailHelp" placeholder="Enter Email"
      [ngClass]="{ 'is-invalid': registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerFormElement.submitted) }">
    <!-- Email Validation -->
    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.dirty">
      <div class="error" *ngIf="registerForm.get('email')?.errors?.required">
        <small id="emailHelp" class="form-text text-danger">Email is required
        </small>
      </div>
      <div class="error" *ngIf="registerForm.get('email')?.errors?.email">
        <small id="emailHelp" class="form-text text-danger">Invalid email address
        </small>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" formControlName="password" id="inputPassword" placeholder="Enter Password">
    <button class="btn btn-primary mt-3" (click)="onSubmit()">Register</button>
  </div>

</form>
