<div class="card bg-light m-2">
  <img class="card-img-top mx-auto my-3" [src]="productInfo.productImage" alt="Card image cap">
  <h4 class="card-title mx-auto text-center font-weight-bold">{{productInfo.productName}}</h4>
  <p class="card-text mx-auto text-center text-secondary">{{productInfo.productDescription}}</p>

  <div class="input-group input-group-sm mb-3 d-flex justify-content-center">
    <div class="input-group-prepend mr-2">
    </div>
    <span class="h3 text-center font-weight-bold">${{ productInfo.productPrice }}</span>
  </div>

  <div class="input-group input-group-sm mb-3 p-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Left in Stock</span>
    </div>
    <input type="number" class="form-control" [value]="productInfo.productQuantity" aria-describedby="inputGroup-sizing-sm" disabled>
  </div>

  <div class="input-group input-group-sm p-1">
    <div class="input-group-prepend w-50">
      <button id="add-to-cart" class="btn btn-success w-100" (click)="addToCart(productInfo)">Add to Cart</button>
    </div>
    <input type="number" class="form-control w-50" [(ngModel)]="quantity" min="1" max="50" [disabled]="productInfo.productQuantity == 0">
  </div>

  <ux-tip [errorMessage]="errorMessage" [successMessage]="successMessage" [error]="error" [success]="success"></ux-tip>
</div>

  
