<div class="card bg-light m-2">
  <img class="card-img-top rounded mx-auto my-3" [src]="productInfo.productImage" alt="Card image cap">
  <h4 class="card-title mx-auto text-center font-weight-bold">{{productInfo.productName}}</h4>
  <p class="card-text mx-auto text-center text-secondary">{{productInfo.productDescription}}</p>

  <div class="input-group input-group-sm mb-3 d-flex justify-content-center">
    <div class="input-group-prepend mr-2">
    </div>
    <span class="h3 text-center font-weight-bold">${{ productInfo.productPrice }}</span>
  </div>

  <app-product-details [productInfo]="productInfo" class="m-2 mb-1"></app-product-details>

  <div class="input-group input-group-md p-2">
    <div class="input-group-prepend w-75">
      <button id="add-to-cart" class="btn btn-success w-100" (click)="addToCart(productInfo)">Add to Cart</button>
    </div>
    <input type="number" class="form-control w-25" [(ngModel)]="quantity" min="1" max="50" [disabled]="productInfo.productQuantity == 0">
  </div>

  <ux-tip [errorMessage]="errorMessage" [successMessage]="successMessage" [error]="error" [success]="success"></ux-tip>

</div>
