<app-navbar></app-navbar>
<h1>Reset Password</h1>
<div id="box" [hidden]="formSuccess">
    <form id="reset-form" [formGroup]="resetForm">
        <div class="form-group">
            <label for="exampleInputEmail2">Email address</label>
            <input type="email" class="form-control" formControlName="email" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">Ensure you enter your correct email</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2">New password</label>
            <input type="password" class="form-control" formControlName="password" id="exampleInputPassword2" placeholder="Enter a new password" required>
        </div>
        <button class="btn btn-primary" (click)="onSubmit()" [disabled]="!resetForm.valid">Reset password</button>
        <button class="btn btn-primary" [routerLink]="['/home']">Home</button>
    </form>
</div>
<br>
<div id="box" [hidden]="!formSuccess">
    <form>
        <p>Password changed successfully</p>
        <button class="btn btn-primary" [routerLink]="['/home']">Home</button>
    </form>
</div>