.navbar {
    border-bottom: 1px solid #ece9e9;
}

.card {
    background-color: #F26925;
    border-radius: 10px;
    margin-top: 15px;
    width: fit-content;
}

.header {
    font-size: 2rem;
    margin: 1px;
    letter-spacing: 1.5px;
}

.total {
    font-size: 1.7rem;
}

.lead {
    margin: 5px 0;
}
