<nav class="navbar navbar-light bg-light">
    <h4 [routerLink]="['/home']">
        <img src="../../../assets/images/favicon.png" width="8%" height="8%" alt="Revature">
        Tentacles Swag Shop
    </h4>
    <form class="form-inline">
        <button type="button" class="btn btn-primary" (click)="redirectToHome()">Home</button>
    </form>
</nav>
<div class="container-fluid">
    <div class="card bg-light border-success border-2 mx-auto my-3 p-4">
        <div class="card-header border-success border-bottom-2 text-center">
            <h4 class="header">Confirmation Number: #38023</h4>
        </div>

        <div class="lead total text-center">Order Total: $392.33</div>
        <div class="card-body p-2 mx-auto">
            <div class="lead font-weight-bold">Customer Contact: </div>
            <div class="lead">Brianna Renni</div>
            <div class="lead">brianna@gmail.com</div>
            <div class="lead font-weight-bold">Shipping Address: </div>
            <div class="lead">123 Fuck it St</div>
            <div class="lead">Los Angeles CA 91605</div>

            <!-- interpolate -->
        </div>
        <button type="button" class="btn btn-block mx-auto btn-success mt-2 px-3" (click)="redirectToHome()">Close</button>

    </div>
</div>

<!-- <div class="lead total text-center">Order Total: ${{ totalPrice }}</div> -->

<!-- <div class="lead font-weight-bold">Customer Contact: </div> -->
<!-- <div class="lead">{{ currUser.firstName }} {{ currUser.lastName }}</div> -->
<!-- <div class="lead">{{ formValues.address }}</div> -->
<!-- <div class="lead font-weight-bold">Shipping Address: </div>
            <div class="lead">{{ formValues.address }}</div>
            <div class="lead">{{ formValues.city }} {{ formValues.state }} {{ formValues.zipCode }}</div> -->
