<div class="container-fluid m-2 d-flex flex-column justify-content-center">
  <img src="../../../assets/images/rev-logo.png" alt="Revature logo" style="width: 20%; height: 20%;" class="mx-auto">
  <form class=" mb-2" id="login-form" [formGroup]="loginForm" #loginFormElement="ngForm" (ngSubmit)="onSubmit()" style="margin: auto;">
    <ux-tip [errorMessage]="errorMessage" [successMessage]="successMessage" [error]="error" [success]="success"></ux-tip>

    <div class="form-group">
      <label for="login-email">Email address</label>
      <input type="email" class="form-control" formControlName="email" id="login-email" aria-describedby="emailHelp" placeholder="Enter email"
        [ngClass]="{ 'is-invalid': loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginFormElement.submitted) }" />

      <!-- Email Validation -->
      <div *ngIf="fieldInvalid(loginForm.get('email')! || loginFormElement.submitted)">
      </div>
      <div class="error" *ngIf="loginForm.get('email')?.errors?.email">
        <small id="emailHelp" class="form-text text-danger">Invalid email address
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="login-pw">Password</label>
      <input type="password" class="form-control" formControlName="password" id="login-pw" placeholder="Password"
        [ngClass]="{ 'is-invalid': loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginFormElement.submitted) }" />

      <button type="submit" class="btn btn-block btn-primary mt-3" (click)="onSubmit()">Login</button>
      <button type="submit" class="btn btn-block bg-info text-white border-primary mt-3" [routerLink]="['/register']">
        Register New Account
      </button>
    </div>
  </form>
</div>
