<app-navbar></app-navbar>

<div class="container-fluid mt-4 px-3">
    <form class="m-4" id="register-form" [formGroup]="checkoutForm" #checkoutFormElement="ngForm">
        <!-- (ngSubmit)="onSubmit() -->
        <div class="mb-3">
            <h2>Confirm Your Order</h2>
            <span>Enter details below to confirm your order:</span>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card p-3">

                    <h6 class="text-uppercase">Payment details</h6>
                    <div class="inputbox mt-3"> <input type="text" name="name" class="form-control" id="checkout-ctrl" formControlName="cardName"
                            required="required">
                        <span>Name on card</span>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2">
                                <input type="number" name="name" class="form-control" id="checkout-ctrl" formControlName="cardNum" required="required"
                                    [ngClass]="{ 'invalid': checkoutForm.get('cardNum')?.invalid && (checkoutForm.get('cardNum')?.touched || checkoutFormElement.submitted )}">
                                <i class="fa fa-credit-card"></i> <span>Card Number</span>
                            </div>
                            <div class="align-end"
                                *ngIf="checkoutForm.get('cardNum')?.hasError('minLength') && (checkoutForm.get('cardNum')?.touched  || checkoutFormElement.submitted )">
                                <span class="error">
                                    <small id="cardNumHelp" class="form-text text-danger">Invalid Card Number</small>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="d-flex flex-row">
                                <div class="inputbox mt-3 mr-2">
                                    <input type="text" name="name" class="form-control" id="checkout-ctrl" formControlName="expDate"
                                        required="required" maxlength="5"
                                        [ngClass]="{ 'invalid': checkoutForm.get('expDate')?.invalid && ((checkoutForm.get('expDate')?.touched) || checkoutFormElement.submitted )}">
                                    <span>Expiration</span>
                                </div>

                                <div class="inputbox mt-3 mr-2">
                                    <input type="input" name="name" class="form-control" id="checkout-ctrl" formControlName="cvv" required="required"
                                        maxlength="3"
                                        [ngClass]="{ 'invalid': checkoutForm.get('cvv')?.invalid && ((checkoutForm.get('cvv')?.touched)  || checkoutFormElement.submitted ) }">
                                    <span>CVV</span>
                                </div>
                            </div>

                            <div class="d-flex flex-row justify-content-between align-items-baseline">
                                <span class="error"
                                    *ngIf="checkoutForm.get('expDate')?.hasError('invalidFormat') && (checkoutForm.get('expDate')?.touched  || checkoutFormElement.submitted )">
                                    <small id="expDateHelp" class="form-text text-danger">Invalid Exp. Date</small>
                                </span>
                                <span class="error" *ngIf="checkoutForm.get('cvv')?.hasError('minLength') && checkoutForm.get('cvv')?.touched">
                                    <small id="cvvHelp" class="form-text text-danger">Invalid CVV</small>
                                </span>
                            </div>
                        </div>

                        <div class="mt-4 mb-4">

                            <h6 class="text-uppercase">Billing Address</h6>
                            <div class="row mt-3">

                                <div class="col-md-6">

                                    <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" id="checkout-ctrl"
                                            required="required">
                                        <span>Street Address</span>
                                    </div>

                                </div>


                                <div class="col-md-6">

                                    <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" id="checkout-ctrl"
                                            required="required">
                                        <span>City</span>
                                    </div>

                                </div>
                            </div>

                            <div class="row mt-2">

                                <div class="col-md-6">
                                    <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" id="checkout-ctrl"
                                            required="required">
                                        <span>State</span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="inputbox mt-3 mr-2">
                                        <input type="text" name="name" class="form-control" id="checkout-ctrl" formControlName="zipCode"
                                            required="required"
                                            [ngClass]="{ 'invalid': checkoutForm.get('zipCode')?.invalid && ((checkoutForm.get('zipCode')?.touched)  || checkoutFormElement.submitted )}">
                                        <span>Zip code</span>
                                    </div>

                                    <div
                                        *ngIf="checkoutForm.get('zipCode')?.hasError('minLength') && (checkoutForm.get('zipCode')?.touched  || checkoutFormElement.submitted )">
                                        <span class="error">
                                            <small id="zipCodeHelp" class="form-text text-danger">Invalid Zip Code</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 mb-4 d-flex justify-content-between">
                            <button class="btn btn-info" [routerLink]="['/cart']">← Cart</button>
                            <button class="btn btn-md btn-success px-3" (click)="onSubmit();">Finish and Pay ${{totalPrice.toFixed(2)}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 right-card">
                <div class="card card-blue text-center p-3 text-white mb-3">

                    <span class="text-bold">Order Total</span>
                    <div class="d-flex flex-row justify-content-center mb-3">
                        <h1 class="mt-3 yellow">${{totalPrice.toFixed(2)}}
                        </h1>
                    </div>

                    <div class="highlight mt-0">
                        <span>100% Satisfaction Guarantee!</span>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
