<div class="container w-85">
    <button type="submit" class="btn btn-sm btn-outline-info m-2" [routerLink]="['/login']">
        ← Back to Login
    </button>

    <div class="container-fluid m-2 d-flex flex-column justify-content-center">
        <img class="logo mx-auto" src="../../../assets/images/rev-logo.png" width="20%" height="20%" alt="Revature">
        <div id="box">
            <form id="reset-form" [formGroup]="resetForm" style="margin: auto;" #resetFormElement="ngForm">

                <ux-tip [errorMessage]="errorMessage" [successMessage]="successMessage" [error]="error" [success]="success"></ux-tip>

                <div class="form-group">
                    <label for="exampleInputEmail2">Email address</label>
                    <input type="email" class="form-control" formControlName="email" id="exampleInputEmail2" aria-describedby="emailHelp"
                        placeholder="Enter email"
                        [ngClass]="{ 'is-invalid': resetForm.get('email')?.invalid && (resetForm.get('email')?.dirty || resetFormElement.submitted) }">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword2">New password</label>
                    <input type="password" class="form-control" formControlName="password" id="exampleInputPassword2"
                        placeholder="Enter a new password"
                        [ngClass]="{ 'is-invalid': resetForm.get('password')?.invalid && (resetForm.get('password')?.dirty || resetFormElement.submitted) }">
                </div>
                <button class="btn btn-primary btn-block" (click)="onSubmit()">Reset Password</button>
            </form>
        </div>
        <br>
        <!-- <div id="box" [hidden]="!success" class="mx-auto">
            <form>
                <p>Password changed successfully</p>
            </form>
        </div> -->
    </div>
</div>
